/************************************
*** Bismillahirrakhmannirrakhim
*** Author Anggih Septiawan
*** Build with love and coffee 
*** Start from 25 Maret 2020
**/


// Utillity
$main-color: #4cc868;
$google-color: #ea4335;

.btn-green {
    background-color: $main-color;

    &:hover {
        background-color: #53d971;
    }
}

.btn-google {
    background-color: $google-color;

    &:hover {
        background-color: #ff4a3b;
    }
}

.form-group {
    margin-bottom: .4rem;
}


//////////////////////////////  LOGIN PAGE  ////////////////////////////// 

section.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $main-color;

    .login_form,
    .regis_form {
        background-color: white;
        border-radius: 5px;
        margin-right: unset;
        margin-left: unset;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        overflow: hidden;

        .bg-login {
            background: #57d072 url(../images/img_login.png);
            background-size: cover;
        }

        .right_side {
            padding: 50px 20px;
        }
    }

    .regis_form {
        .bg-regis {
            background: #57d072 url(../images/img_login1.png);
            background-size: cover;
        }

        .right_side {
            padding: 20px;
        }
    }

    .bg-forgot {
        background: #57d072 url(../images/img_login2.png);
        background-size: cover;
    }

}