/************************************
*** Bismillahirrakhmannirrakhim
*** Author Anggih Septiawan
*** Build with love and coffee 
*** Start from 25 Maret 2020
**/
.btn-green {
  background-color: #4cc868;
}

.btn-green:hover {
  background-color: #53d971;
}

.btn-google {
  background-color: #ea4335;
}

.btn-google:hover {
  background-color: #ff4a3b;
}

.form-group {
  margin-bottom: .4rem;
}

section.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #4cc868;
}

section.auth .login_form,
section.auth .regis_form {
  background-color: white;
  border-radius: 5px;
  margin-right: unset;
  margin-left: unset;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow: hidden;
}

section.auth .login_form .bg-login,
section.auth .regis_form .bg-login {
  background: #57d072 url(../images/img_login.png);
  background-size: cover;
}

section.auth .login_form .right_side,
section.auth .regis_form .right_side {
  padding: 50px 20px;
}

section.auth .regis_form .bg-regis {
  background: #57d072 url(../images/img_login1.png);
  background-size: cover;
}

section.auth .regis_form .right_side {
  padding: 20px;
}

section.auth .bg-forgot {
  background: #57d072 url(../images/img_login2.png);
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */